extends layout

block content

  head 

    title Chat
    link(rel="stylesheet" href="/chat.css")
    script(src="/chat.js" defer) 
    script(src="/socket.io/socket.io.js" charset="utf-8")
    script(src="/jq-chat.js" defer) 
    

  body  

    .container-fluid
      .row
        // Panel de chat
        .col-md-4.col-lg-4.bg-light.contacts
          // Contenido del panel de chat
          each contact in Contacts  
            .chat-content
              .chat-card
                .d-flex
                  .chat-image
                    img(src=`/${contact.User.avatarUrl}` alt='Imagen de Usuario' class='img-fluid rounded-circle')
                  .chat-details
                    form(action='/chat/messages' method="post")#contact-form
                      input(type="hidden" name="friendId" value=contact.User.id)
                      button(type='submit')=contact.User.name

                    .chat-message
                      p Último mensaje del usuario
                    .chat-header
                      span 00:30

          .friend__request
            a(href="#") Buscar gente



        // Área de chat principal
        .col-md-8.col-lg-8#chat-area
          .chat-area
            .chat-header
              if(Friend) 
                .chat-image-header
                  img(src=`/${Friend.avatarUrl}` alt='Imagen de Usuario')
                .chat-details
                  h3=Friend.name

            // Parte media: Mensajes
            .chat-messages
              #messages-container



              // Parte inferior: Campo de entrada de mensajes

              form(action='/chat/send' method='post' id='chat-form').chat-input
                input(type="hidden" name="friendId")#input-friend
                input(type='text' id='message-input' name="message" placeholder='Escribe tu mensaje...').col.col-md-10.col-sm-10
                button.btn.btn-primary.col.col-md-2.col-sm-2 Enviar